{{define "ApiKeysTable"}}
{{template "BeginTable"}}
    {{template "BeginTableHeader"}}
        <tr class="{{template "cnTableHeaderRow"}}">
            <th class="{{template "cnTableHead"}}">Key</th>
            <th class="{{template "cnTableHead"}}">Description</th>
            <th class="{{template "cnTableHead"}} text-right">Created At</th>
            <th class="{{template "cnTableHead"}} text-right">Created By</th>
            <th class="{{template "cnTableHead"}} text-right">Expires</th>
            <th class="{{template "TableCellClasses"}} flex justify-end">
                <button class="{{template "cnPrimaryButton"}}" hx-get="/c/create-api-key-dialog" hx-target="body" hx-swap="beforeend">{{template "Icon" "plus"}}<span class="sr-only">Create</span></button>
            </th>
        </tr>
    {{template "EndTableHeader"}}
    {{template "BeginTableBody"}}
        {{range .Keys}}
            {{template "BeginTableRow"}}
                <td class="p-2 w-1 align-middle whitespace-nowrap">{{.Prefix}}</td>
                <td class="cursor-pointer" hx-get="/c/api-key-sheet?key={{.ID}}" hx-target="body" hx-swap="beforeend">{{.Description}}</td>
                <td class="text-right">{{.CreatedAt}}</td>
                <td class="text-right">{{.CreatedBy}}</td>
                <td class="text-right">{{.ExpiresAt}}</td>
                <td class="p-2 flex w-full justify-end align-middle"></td>
            {{template "EndTableRow"}}
        {{end}}
    {{template "EndTableBody"}}
{{template "EndTable"}}

{{end}}
 