{{define "BucketObjectsPage"}}
{{template "BeginLoggedInLayout" .P}}
    {{template "Breadcrumbs" .P.Breadcrumbs}}
    {{template "PageTitle" .P.PageTitle}}
    <div class="flex flex-col w-full border rounded-md bg-white">
        {{template "NavTabs" .NavTabs}}
        <div class="p-2">
            {{ if .Objects }}
            {{template "ObjectsTable" .Objects}}
            {{ else }}
            {{template "BucketEmptyState"}}
            {{ end }}
        </div>
    </div>
</div>
{{template "EndLoggedInLayout"}}
{{end}}