{{define "DashboardMetrics"}}
<div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
    {{template "MetricCard" .TotalSpaceCard}}
    {{template "MetricCard" .UsedSpaceCard}}
    {{template "MetricCard" .FreeSpaceCard}}
    {{template "MetricCard" .StorageSpaceCard}}
</div>
<div class="grid gap-4 md:grid-cols-2">
    {{template "MetricCard" .BucketCountCard}}
    {{template "MetricCard" .ObjectCountCard}}
</div>
{{if .NoBuckets}}
<div class="w-full min-h96 flex justify-center items-center">
<button class="{{template "cnPrimaryButton"}}" hx-get="/c/create-bucket-dialog" hx-target="body" hx-swap="beforeend">Create your first bucket</button>
</div>
{{end}}
{{end}}