{{define "BeginDetailsPageLayout"}}
{{template "BeginLoggedInLayout" .}}
<div class="w-full min-h-full flex flex-col px-2">
    {{template "PageHeader" .PageHeader}}
    <div class="flex bg-neutral-50 flex-grow mb-4">
        <div class="flex flex-col border rounded-l-md min-w-96">
{{end}}

{{define "DetailsPageLayoutPart2"}}
        </div>
        <div class="flex flex-col w-full border-r border border-l-0 rounded-r-md bg-white">
            <div class="flex gap-2 w-full py-2 ps-2 text-sm">
                {{template "NavTabs" .NavTabs}}
            </div>
            <div class="p-2">
{{end}}

{{define "EndDetailsPageLayout"}}
            </div>
        </div>
    </div>
</div>
{{template "EndLoggedInLayout"}}
{{end}}