{{define "ShellStart"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>STOR</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/img/icon.png?v=1726228022" type="image/png">
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body class="min-h-screen">
{{- end -}}

{{define "ShellEnd"}}
        <ol tabindex="-1" class="toaster-container fixed top-0 z-[100] flex max-h-screen w-full flex-col-reverse p-4 sm:bottom-0 sm:right-0 sm:top-auto sm:flex-col md:max-w-[420px]">
        </ol>
        <script src="/js/htmx.min.js"></script>
        <script src="/js/lib.js"></script>
    </body>
</html>
{{end}}
