{{define "Sidebar"}}
<aside class="p-10 pt-0 ps-6 min-w-48">
    <div class="flex items-center p-4 gap-4">
        <img src="/img/icon.png?v=1726228022" class="h-4" /><span class="text-sm font-medium">STOR</span>
    </div>
    <nav class="flex flex-col gap-y-1">
        {{range .Items}}
        <div hx-boost="true">
            {{if .Active}}
            <div class="inline-flex items-center text-sm font-medium py-0.5 whitespace-nowrap rounded-md h-9 px-4 hover:bg-neutral-200 bg-neutral-200 cursor-pointer">{{template "Icon" .Icon}}{{.Title}}</div>
            {{else}}
            <a class="inline-flex items-center text-sm font-medium py-0.5 whitespace-nowrap rounded-md h-9 px-4 hover:bg-neutral-200" href="{{.Link}}">{{template "Icon" .Icon}}{{.Title}}</a>
            {{end}}
        </div>
        {{end}}
    </nav>
</aside>
{{end}}