{{define "BeginTable"}}
<div class="relative w-full overflow-auto">
    <table class="w-full caption-bottom text-sm">
{{end}}

{{define "EndTable"}}
    </table>
</div>
{{end}}

{{define "BeginTableHeader"}}
<thead class="[&_tr]:border-b">
{{end}}

{{define "EndTableHeader"}}
</thead>
{{end}}

{{define "cnTableRow"}}border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted{{end}}
{{define "cnTableHeaderRow"}}border-b{{end}}

{{define "BeginTableRow"}}
<tr class="border-b transition-colors hover:bg-muted/50 data-[state=selected]:bg-muted">
{{end}}

{{define "EndTableRow"}}
</tr>
{{end}}

{{define "BeginTableHead"}}
<th class="{{template "cnTableHead"}}">
{{end}}

{{define "cnTableHead"}}h-10 px-2 text-left align-middle font-medium text-muted-foreground [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]{{end}}

{{define "EndTableHead"}}
</th>
{{end}}

{{define "BeginTableBody"}}
<tbody class="[&_tr:last-child]:border-0">
{{end}}

{{define "EndTableBody"}}
</tbody>
{{end}}

{{define "BeginTableCell"}}
<td class="{{template "TableCellClasses"}}">
{{end}}

{{define "TableCellClasses"}}p-2 align-middle [&:has([role=checkbox])]:pr-0 [&>[role=checkbox]]:translate-y-[2px]{{end}}

{{define "EndTableCell"}}
</td>
{{end}}
