{{define "UsersTable"}}
{{template "BeginTable"}}
    {{template "BeginTableHeader"}}
        <tr class="{{template "cnTableHeaderRow"}}">
            {{template "BeginTableHead"}}Email{{template "EndTableHead"}}
            {{template "BeginTableHead"}}Status{{template "EndTableHead"}}
            <th class="{{template "TableCellClasses"}} flex justify-end">
            </th>
        </tr>
    {{template "EndTableHeader"}}
    {{template "BeginTableBody"}}
        {{range .Users}}
            {{template "BeginTableRow"}}
                <td class="p-2 w-1 align-middle whitespace-nowrap">{{.Email}}</td>
                <td >{{if .Enabled}}Enabled{{else}}Disabled{{end}}</td>
                <td class="p-2 flex w-full justify-end align-middle">
                </td>
            {{template "EndTableRow"}}
        {{end}}
    {{template "EndTableBody"}}
{{template "EndTable"}}
{{end}}
 